
/**
 * Styles for the elements
 * who use night mode classes
 */

[class^="nm-bg-color-"],
[class*=" nm-bg-color-"] {
  transition: background-color .4s ease-in-out;
}

[class^="nm-txt-color-"],
[class*=" nm-txt-color-"] {
  transition: color .4s ease-in-out;
}

/**
 * Styles for buttons
 */

.nm-btn-default{
	cursor: pointer;
}